.card {
  min-width: 280px;
  height: 160px;
  border-radius: 5px;
  margin: 17px 10px 37px 0px;
  z-index: 98;
  display: flex;
  flex-direction: column;
}

.longCard {
  min-width: 242px;
  height: 418px;
  transform: scale(0.9);
}

.card,
.longCard {
  position: relative;
  transition: all 250ms ease-in-out;
}

.cardWrapper {
  position: relative;
}

.card:first-of-type,
.longCard:first-of-type {
  margin-left: 3.5rem;
}

.card:last-of-type,
.longCard:last-of-type {
  margin-right: 3.5rem;
}

.card img,
.longCard img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover,
.longCard:hover {
  box-shadow: 0 0 1rem rgb(0 0 0 / 60%), 0 6px 6px rgb(0 0 0 / 50%);
  border-radius: 5px;
  /* height: auto; */
  z-index: 99;
  /* position: absolute; */
}

.card:hover {
  transform: scale(1.1);
}

.longCard:hover {
  transform: scale(1);
}

.card:hover img {
  border-radius: 5px 5px 0 0px;
}

.card:hover .details,
.longCard:hover .details {
  display: flex;
}

.card:hover .details {
  box-shadow: 0 0 1rem rgb(0 0 0 / 60%), 0 6px 6px rgb(0 0 0 / 50%);
  border-radius: 5px;
}

.card .details,
.longCard .details {
  padding: 10px;
  /* display: flex; */
  display: none;
  flex-direction: column;
  gap: 10px;
}

.card .details {
  background-color: var(--primary-color);
}

.longCard .details {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -108px 15px rgb(70 70 70 / 53%) inset;
}
.actionRow {
  display: flex;
  justify-content: space-between;
}

.actionRow .left {
  display: flex;
  gap: 7px;
}

.actionRow .actionBtn {
  background-color: rgba(23, 23, 23, 0.3);
  border: 2px solid #fff;
  padding: 4px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actionRow .actionBtn.playBtn {
  background-color: #fff;
  color: #000;
}

.actionRow .actionBtn svg {
  font-size: 20px;
}

.details .title {
  font-size: 15px;
  font-weight: 600;
}

.longCard .details .title {
  text-shadow: 0px 0px 15px #000;
}

.details .rating {
  color: rgb(0, 196, 0);
  font-weight: 600;
}
.details .genre ul {
  display: flex;
}

.longCard .details .rating {
  text-shadow: 0px 0px 15px #000;
}
.longCard .details .genre ul {
  font-size: 13px;
  text-shadow: 0px 0px 15px #000;
}

.details .genre ul li:not(.genre ul li:last-of-type)::after {
  content: "•";
  color: #bbb;
  margin: 0 5px;
}

@media (max-width: 767.98px) {
  .card:last-of-type,
  .longCard:last-of-type {
    margin-right: 1.5rem;
  }
  .card:first-of-type,
  .longCard:first-of-type {
    margin-left: 1.5rem;
  }
  .card,
  .longCard {
    scroll-snap-align: center;
  }
}
